* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #000;
  --text-color: rgb(238, 238, 238);
  --secondary-color: #0076be;
  --text-header-secondary: rgb(22, 22, 22);
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  font-family: 'Lato', sans-serif;
  background-color: var(--primary-color);
}



@media (min-width: 1920px) {
  html {
    font-size: 65%;
  }
}