* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #000;
  --text-color: rgb(238, 238, 238);
  --red-color: #a10a0a;
  --text-header-secondary: rgb(22, 22, 22);
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: 'Lato', sans-serif;
  background-color: var(--primary-color);
}