html {
  width: 100%;
  height: 100vh;
}

:root {
  --login-primary: #0076be;
}

body {
  background: var(--login-primary) ;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);

  width: 1080px;
  height: 620px;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 'IMG LOG';

  background-color: #fff;


  -webkit-box-shadow: 1px 0px 16px 2px rgb(24, 24, 24);
  -moz-box-shadow: 1px 0px 16px 2px rgb(24, 24, 24);
  box-shadow: 1px 0px 16px 2px rgb(24, 24, 24);
}

/* Logo area */

.container .logo {
  grid-area: IMG;

  background: var(--login-primary) url('../assets/login-wallpaper.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.container .logo div {
  border: 1px solid var(--text-color);
  width: 60%;
  height: 60px;

  margin-bottom: 3rem;

  font-family: 'Oswald', sans-serif;

  border-radius: 5px;
  
}

.container .logo div,
.container .logo div a,
.container .logo div .facebook,
.container .logo div .google {
  transition-duration: 0.3s;
}

.container .logo div .facebook,
.container .logo div .google {
  color: var(--text-color);
}

.container .logo div:hover {
  background-color: rgba(255, 255, 255, 0.555);
}

.container .logo div:hover a {
  color: var(--primary-color);
}

.container .logo div:hover .facebook {
  color: var(--login-primary);
}

.container .logo div:hover .google {
  color: red;
}

.container .logo div a {
  color: var(--text-color);

  display: block;

  width: 100%;
  height: 100%;

  text-align: center;
  line-height: 55px;

  font-size: 3rem;
  text-decoration: none;

}
/* Login area */
.container .login {
  grid-area: LOG;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login .login-content { 
  display: flex;
  flex-direction: column;
  font-family: 'Oswald', sans-serif;

}
.login .login-content span,
.login .login-content form label {
  color: rgb(39, 39, 39);
}

.login .login-content span {
  font-size: 4rem;
  margin-bottom: 3rem;
}

.login .login-content form label {
  display: block;
  margin-bottom: 1rem;
  font-size: 1.5rem;

  cursor: pointer;
}

.login .login-content form label:nth-child(n + 2) {
  margin-top: 1rem;
}

.login form input {
  border: none;
  width: 300px;
}

.login input:focus {
  outline: 0;
}

.login .line {
  height: 2px;
  background-color: rgb(105, 105, 105);

  transition-duration: 0.3s;
  margin-top: 10px
}

.login input:focus + .line {
  background-color: var(--login-primary);
}

.login form button {
  display: block;
  margin-top: 3rem;

  width: 100%; 
  height: 50px;

  background-color: var(--login-primary);
  color: var(--text-color);

  font-family: 'Oswald', sans-serif;
  font-size: 3rem;
  border: none;

  cursor: pointer;
  transition-duration: 0.4s;

  border-radius: 5px;
}

.login form button:hover {
  filter: opacity(90%);
}

@media (max-width: 1100px) {
  .container {
    width: 360px;
    display: block;
  }
  .container .logo {
    display: none;
  }

  .container .login {
    height: 100%;
    margin: auto 0;
  }
}

@media (max-width: 526px) {
  .container {
    width: 100%;
  }
}

@media (max-width: 310px) {
  .login form button,
  .login form input,
  .login .line {
    width: 100%;
  }
  .login form button {
    border-radius: 0;
  }
}
