::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: var(--text-color);
}

.container {
  max-width: 90%;

  margin: 0 auto;
}

/* Header */
header {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;

  padding: 4rem 2rem;

  font-size: 1.8rem;

  background: linear-gradient(to bottom, #000,transparent) ;

  transition:0.6s;
  z-index: 10;
}
header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .container .logo {
  position: relative;

  margin-left: 3rem;

  font-size: 2.5rem;
  font-weight: 700;
  text-decoration: none;
  color: var(--text-color);

  transition: 0.6s;
}

header .container .menu-section nav {
  position: relative;
}

header .container nav ul {
  margin-right: 3rem;
  display: flex;

  justify-content: center;
  align-items: center;
}

header .container nav ul li {
  list-style: none;
  margin-right: 2rem;
}

header .container nav ul li a,
header .container nav ul li .login {
  display: flex;
  flex-direction: column;

  text-transform: uppercase;

  text-decoration: none;
  font-size: 1.7rem;
  font-weight: 700;

  color: var(--text-color);
  padding: 5px 15px;

  transition: 0.6s;
}

header .container nav ul li .login {
  padding: 1rem 1rem;

  border-radius: 5px;
  border: 2px solid var(--red-color);
  background: transparent;

  cursor: pointer;
}

header .container nav ul li .login:hover {
  background-color: var(--red-color);
}

header .container nav ul li a.active::after,
header .container nav ul li a.menu-link:hover::after {
  display: block;
  
  height: 2px;
  width: 100%;
  
  background: var(--red-color);

  content: '';
}

header div img {
  width: 80px;
}

/* Header Sticky */
header.sticky {
  padding: 2rem 2rem;
  background: transparent;
  background-color: var(--text-color);
}

header.sticky .logo,
header.sticky nav ul li a,
header.sticky nav ul li .login {
  color: var(--text-header-secondary);
}

header.sticky .container nav ul li .login:hover {
  color: var(--text-color);
}

/* Banner */

.banner {
  position: relative;
  width: 100%;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  
  background: url('../assets/wallpaper3.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;

}

.banner span {
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1rem;

  margin-left: 5rem;

  color: var(--text-color);

  font-size: 10rem;
}

/* Posts */
.posts {
  margin-top: 5rem;
}

.posts .post:nth-child(n + 2) {
  margin-top: 3rem;
}

.posts .post:nth-child(even) img {
  order: 1;
}

.post {
  background-color: var(--text-color);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
}

.post img {
  width: 100%;
}

.post .text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 2rem;
}

.post .text h1 {
  color: var(--red-color);

  text-align: center;
  text-transform: uppercase;

  font-size: 3rem;
  font-weight: 700;

  margin-bottom: 1rem;
}

.post .text p {
  text-align: center;

  font-size: 2rem;
}

/* Footer */

footer {
  margin: 5rem 0 0.5rem 0;
  width: 100%;
}

footer .container {
  color: var(--text-color);

  padding-bottom: 2rem;
  
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));

  border-top: 2px solid var(--text-color);
  border-bottom: 2px solid var(--text-color);
}

footer .container div {
  margin-top: 2.5rem;

  display: flex;
  flex-direction: column;
  align-items: flex-start
}

footer .container div h1 {
  font-size: 2rem;
  color: var(--red-color);
  margin-bottom: 1rem;
}

footer .container div a {
  color: var(--text-color);
  
  font-size: 1.6rem;
  
  text-decoration: none;
}

footer .container div a:hover {
  filter: contrast(50%);
}

footer .container div input {
  width: 70%;

  padding: 1rem 1.5rem;
  border: none;
  border-radius: 10px;
}

/* Pos-footer */
.pos-footer {
  padding: 2rem 0;
  color: var(--text-color);
}

.pos-footer .container {
  display: grid;
  grid-template-columns: repeat(autofit, minmax(290px, 1fr));

  grid-template-areas: 'NA SO RI';
}

.pos-footer .container .social {
  grid-area: SO;
  text-align: center;
}
.pos-footer .container .social i {
  margin-left: 1rem;
  font-size: 3rem;
  color: var(--red-color);

  cursor: pointer;
}
.pos-footer .container .rights {
  text-align: end;
  grid-area: RI;

  font-size: 1.5rem;
}


/* To-top */
.to-top {
  display: flex;
  
  align-items: center;
  justify-content: center;
  
  width: 50px;
  height: 50px;
  
  position: fixed;
  bottom: 5rem;
  right: 3rem;
  
  border: none;
  cursor: pointer;

  color: var(--text-color);
  
  text-align: center;
  background-color: var(--red-color);

  border-radius: 50%;
  
  transition: background-color .3s, 
    opacity .5s, visibility .5s, bottom .5s;
  opacity: 0;
  visibility: hidden;
  
  z-index: 9;
}

.visible {
  visibility: visible;
  opacity: 1;

  bottom: 3rem;
}

/* Responsividade */
@media (max-width: 960px) {
  nav {
    display: none;
  }

  header.sticky .menu-toggle div {
    background-color: var(--primary-color);
  }

  header.sticky nav ul li a,
  header.sticky nav ul li .login  {
  color: var(--text-color);
  }

  /*Banner */
  .banner {
    align-items: center;
  }
  .banner span {
    margin-left: 0;
    text-align: center;
  }

  .menu-toggle {
    display: flex;

    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 36px;
    height: 25px;
  }

  .menu-toggle div {
    width: 100%;
    height: 5px;

    background-color: var(--text-color);

    transition-duration: 0.4s;
  }

  .menu-toggle div:nth-child(n + 2) {
    margin-top: 5px;
  }

  .menu-section.on {
    position: absolute;
    top: 0;
    left: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;
    width: 100%;

    background-color: var(--primary-color);
    z-index: 10;
  }

  .menu-section.on .menu-toggle {
    margin: 1rem 2rem 0 0;

    position: absolute;
    right: 1.7rem;
    top: 3.3rem;
  }

  .menu-section.on .menu-toggle div,
  header.sticky .menu-section.on .menu-toggle div {
    background-color: var(--text-color);
  }

  .menu-section.on nav {
    display: block;
  }
  .menu-section.on nav ul {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .menu-section.on nav ul li {
    margin-right: 0;
    margin-bottom: 1.5rem;
  }

  .menu-section.on nav ul li a {
    font-size: 3rem;
  }

  /* Fazer o 'X' */

  .menu-section.on .menu-toggle .one {
    transform: rotate(45deg) translate(-5px, 20px);
  }

  .menu-section.on .menu-toggle .two {
      opacity: 0;
  }

  .menu-section.on .menu-toggle .three {
      transform: rotate(-45deg) translate(-5px, -20px);
  }

  /* Banner */
  .banner span{
    font-size: 7rem;
  }

  header.sticky + .banner {
    -webkit-filter: none;
    filter: none;
  }

  /* to-top */
  .to-top {
    width: 35px;
    height: 35px;

    font-size: 10px;
  }

  /* Posts */
  .posts {
    margin-top: 0;
  }

  .post .text h1 {
    font-size: 2rem;
  }
  .post .text p {
    font-size: 1.5rem;
  }
}

@media(max-width: 415px) {
  .banner {
    background: url('../assets/wallpaper3.jpg');
    background-position: 60% 50%;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .pos-footer .container .rights {
    font-size: 1rem;
  }
  .pos-footer .container .social i {
    font-size: 2rem;
  }
}

@media (min-width: 1920px) {
  html {
    font-size: 100%;
  }
}