* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* --primary-color:; */
  --primary-color: #000;
  --text-color: rgb(238, 238, 238);
  --red-color: #a10a0a;
  --text-header-secondary: rgb(22, 22, 22);
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: 'Lato', sans-serif;
  background-color: var(--primary-color);
  min-height: 200vh;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: var(--text-color);
}

.container {
  max-width: 90%;

  margin: 0 auto;
}

/* Header */
header {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;

  padding: 4rem 2rem;

  font-size: 1.8rem;

  background: linear-gradient(to bottom, #000,transparent) ;

  transition:0.6s;
  z-index: 10;
}
header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .container .logo {
  position: relative;

  margin-left: 3rem;

  font-size: 2.5rem;
  font-weight: 700;
  text-decoration: none;
  color: var(--text-color);

  transition: 0.6s;
}

header .container .menu-section nav {
  position: relative;
}


header .container nav ul {
  margin-right: 3rem;
  display: flex;
}

header .container nav ul li {
  list-style: none;
  margin-right: 2rem;
}

header .container nav ul li a {
  display: flex;
  flex-direction: column;

  text-transform: uppercase;

  text-decoration: none;
  font-size: 1.7rem;
  font-weight: 700;

  padding: 5px 15px;

  color: var(--text-color);

  transition: 0.6s;
}

header .container nav ul li a.active::after,
header .container nav ul li a:hover::after {
  display: block;
  
  height: 2px;
  width: 100%;
  
  background: var(--red-color);

  content: '';
}

header div img {
  width: 80px;
}

/* Header Sticky */
header.sticky {
  padding: 2rem 2rem;
  background: transparent;
  background-color: var(--text-color);
}

header.sticky .logo,
header.sticky nav ul li a  {
  color: var(--text-header-secondary);
}

/* Banner */
header.sticky + .banner {
  -webkit-filter: brightness(80%);
  filter: brightness(80%);
}

.banner {
  position: relative;
  width: 100%;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  background: url('../img/wallpaper.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;

}


.banner span {
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1rem;

  text-align: center;

  color: var(--text-color);

  font-size: 10rem;
}



/* Posts */

.posts {

}

/* To-top */
.to-top {
  display: flex;
  
  align-items: center;
  justify-content: center;
  
  width: 50px;
  height: 50px;
  
  position: fixed;
  bottom: 5rem;
  right: 3rem;
  
  border: none;
  cursor: pointer;

  color: var(--text-color);
  
  text-align: center;
  background-color: var(--red-color);

  border-radius: 50%;
  
  transition: background-color .3s, 
    opacity .5s, visibility .5s, bottom .5s;
  opacity: 0;
  visibility: hidden;
  
  z-index: 9;
}

.visible {
  visibility: visible;
  opacity: 1;

  bottom: 3rem;
}

/* Responsividade */
@media (max-width: 768px) {
  nav {
    display: none;
  }

  header.sticky .menu-toggle div {
    background-color: var(--primary-color);
  }

  header.sticky nav ul li a  {
  color: var(--text-color);
  }

  .menu-toggle {
    display: flex;

    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 36px;
    height: 25px;
  }

  .menu-toggle div {
    width: 100%;
    height: 5px;

    background-color: var(--text-color);

    transition-duration: 0.4s;
  }

  .menu-toggle div:nth-child(n + 2) {
    margin-top: 5px;
  }

  .menu-section.on {
    position: absolute;
    top: 0;
    left: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;
    width: 100%;

    background-color: var(--primary-color);
    z-index: 10;
  }

  .menu-section.on .menu-toggle {
    margin: 1rem 2rem 0 0;

    position: absolute;
    right: 1.7rem;
    top: 3.3rem;
  }

  .menu-section.on .menu-toggle div,
  header.sticky .menu-section.on .menu-toggle div {
    background-color: var(--text-color);
  }

  .menu-section.on nav {
    display: block;
  }
  .menu-section.on nav ul {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .menu-section.on nav ul li {
    margin-right: 0;
    margin-bottom: 1.5rem;
  }

  .menu-section.on nav ul li a {
    font-size: 3rem;
  }

  /* Fazer o 'X' */

  .menu-section.on .menu-toggle .one {
    transform: rotate(45deg) translate(-5px, 20px);
  }

  .menu-section.on .menu-toggle .two {
      opacity: 0;
  }

  .menu-section.on .menu-toggle .three {
      transform: rotate(-45deg) translate(-5px, -20px);
  }

  /* Banner */
  .banner span{
    font-size: 7rem;
  }

  header.sticky + .banner {
    -webkit-filter: none;
    filter: none;
  }
}